# requirements.txt
setuptools>=70.0.0
Flask==3.0.2
gunicorn==22.0.0
requests==2.31.0
python-dotenv==1.0.1
numpy==1.26.4
asyncio-mqtt==0.16.2
dataclasses-json==0.6.4
openai==1.12.0
huggingface_hub==0.20.3
pymysql==1.1.0
schedule==1.2.2
python-telegram-bot==21.0
PyYAML==6.0.1
jsonschema==4.21.1
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
python-multipart>=0.0.9
